.products-defaultMac {
  width: 270px;
  height: 349px;
  border: 2px solid #707070;
}

.products-defaultMacImg {
  background-image: url("https://i.imgur.com/tmPo0zT.png");
  width: 236px;
  height: 153px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 30px;
  margin-left: 15px;
}
.products-gray {
  background-color: #fafafb;
}
h4 {
  text-align: center;
  /* margin-top: 70%; */
}

.rating {
  text-align: center;
}

.costs {
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.pricetag {
  color: #ff4858;
  margin-right: 5px;
}

.oldPrice {
  color: lightgray;
  text-decoration: line-through;
}

.products-optionsLight {
  background-color: white;
}

.options {
  width: 102px;
  height: 46px;
  padding-top: 30px;
  margin-left: 15px;
}
.heart {
  background-color: white;
  border: 2px solid #33a0ff;
  border-radius: 50%;
  background-image: url("https://i.imgur.com/D8I9wXv.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cart {
  background-color: white;
  border: 2px solid #33a0ff;
  border-radius: 50%;
  background-image: url("https://i.imgur.com/jfUqoMS.png");
  background-repeat: no-repeat;
  background-position: center;
}

.products-horizontal {
  width: 570px;
  height: 224px;
}

.horizontalText {
  margin-left: 100px;
  margin-top: -160px;
}

.products-horizontalHover:hover {
  filter: brightness(80%);
}

.products-defaultBeats {
  width: 324px;
  height: 158px;
}

.prodcuts-defaultBeatsImg {
  background-image: url("https://i.imgur.com/FfnJPgZ.png");
  background-repeat: no-repeat;
  background-position: center;
}
