.products-defaultMac {
  background-color: #f6f7f8;
  width: 270px;
  height: 349px;
}

.products-defaultMacImg {
  background-image: url("https://i.imgur.com/tmPo0zT.png");
  width: 236px;
  height: 153px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 30px;
  margin-left: 15px;
}

h4 {
  text-align: center;
  /* margin-top: 70%; */
}

.rating {
  text-align: center;
}

.costs {
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.pricetag {
  color: #ff4858;
  margin-right: 5px;
}

.oldPrice {
  color: lightgray;
  text-decoration: line-through;
}

.products-lighten:hover {
  background-color: 
}
