* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
.button-primary {
  background-color: #33a0ff;
  color: white;
  border: #33a0ff;
}
.button-success {
  background-color: green;
  color: white;
  border: #0069d9;
}

.button-danger {
  background-color: red;
  color: white;
  border: #0069d9;
}

.button-warning {
  background-color: yellow;
  color: white;
  border: #0069d9;
}

.button-darken:hover {
  filter: brightness(80%);
}

.button-outline {
  background-color: white;
  color: #33a0ff;
  border: #33a0ff;
}
