.form-default {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  width: 300px;
  height: 38px;
  border-radius: 5px;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

.form-medium {
  width: 300px;
  height: 46px;
}

.form-large {
  width: 300px;
  height: 60px;
}

.form-select-default {
  background-image: url("https://i.imgur.com/887XzU1.png");
  background-repeat: no-repeat;
  background-position-x: 185px;
  background-position-y: 20px;
  width: 200px;
  height: 38px;
  border-radius: 5px;
}

.form-select-medium {
  background-position-x: 275px;
  background-position-y: 25px;
  width: 300px;
  height: 46px;
}

.form-select-large {
  background-position-x: 275px;
  background-position-y: 30px;
  width: 300px;
  height: 60px;
}

.header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

.form-select-fill {
  background-color: #fafafb;
}

.form-number {
  width: 116px;
  height: 46px;
  background-color: #f6f7f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #f6f7f8;
  border: none;
  margin: 0 10px;
  color: #33a0ff;
}

.form-redeemMedium {
  color: white;
  width: 118px;
  height: 46px;
  background-color: #33a0ff;
  margin: 0px -120px;
  border-radius: 5px;
}
.form-redeemLarge {
  color: white;
  width: 118px;
  height: 60px;
  background-color: #33a0ff;
  margin: 0px -120px;
  border-radius: 5px;
}
/* 
input[type="checkbox"]:checked {
  border: 2px solid black;
  background-color: black;
  width: 18px;
  height: 18px;
} */

.form-checkbox {
  position: absolute;
  border: 2px solid black;
  width: 10px;
  height: 10px;
  background-color: white;
}
.blackCheck {
  position: absolute;
  border: 2px solid black;
  width: 10px;
  height: 10px;
  background-image: url("https://i.imgur.com/wTa0hq1.png");
  background-size: cover;
  background-color: black;
}
.form-blue {
  border: 2px solid white;
  position: absolute;
  border: 2px solid #33a0ff;
  width: 10px;
  height: 10px;
}

.blueCheck {
  position: absolute;
  border: 2px solid #33a0ff;
  width: 10px;
  height: 10px;
  background-image: url("https://i.imgur.com/wTa0hq1.png");
  background-size: cover;
  background-color: #33a0ff;
}

.text {
  padding-left: 20px;
}
.popup {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.form-checkbox:checked ~ .form-checkbox {
  background-color: black;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.form-checkbox:checked ~ .checkmark:after {
  display: block;
}
.form-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid blue;
  border-width: 0 3px 3px 0;
  /* -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg); */
  transform: rotate(45deg);
}

.form-defaultMac {
  width: 270px;
  height: 349px;
  background-color: lightgray;
}

/* .checkedState::after {
  border: 2px solid black;
  width: 18px;
  height: 18px;
  background-color: black;
}
#toggle:checked ~ .control-me::after {
  border: 2px solid black;
  width: 18px;
  height: 18px;
  background-color: black;
}
.visually-hidden {
  position: absolute;
  left: -100vw;
} */
/* 
label {
  background: white;
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 18px;
  height: 18px;
} */

/* .form-checkbox :checked {
  border: 2px solid black;
  width: 18px;
  height: 18px;
  background-color: black;
} */
